.greeting-content {
  height: 100%;
  @include flexbox;
  align-items: center;
  &__column {
    flex: 1 0 50%;
  }
  &__burger {
    background: url("../images/icons/drops.svg") no-repeat;
    display: flex;
    justify-content: center;
    width: rem(451px);
    height: rem(424px);
    padding: 0 0 rem(138px) rem(20px);
  }
  &__img {
    align-self: center;
    width: 100%;
  }
  &__info {
    height: 100%;
    @include flexbox;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    @include title($yellow);
    margin: 0 0 rem(20px) 0;
  }
  &__text {
    color: #ffffff;
    @include lifehack();
    font-size: rem(65px);
    margin: 0;
  }
}