.nav {
  padding: 0 15px;
  &__list {
    list-style: none;
    @include flexbox;
  }
  &__item {
    &:not(:last-child):after {
      display: inline-block;
      padding: 0 15px;
      content: '•';
      font-size: 13px;
      border-radius: 50%;
      color: #ffffff;
    }
  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: ubuntumedium, sans-serif;
    color: #ffffff;
    font-size: 13px;
  }
}
