@charset "UTF-8";
@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff"), url("../fonts/ubuntu-b-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff"), url("../fonts/Ubuntu-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff"), url("../fonts/ubuntu-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff"), url("../fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff"), url("../fonts/gagalin-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff"), url("../fonts/lifehack_medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

* {
  box-sizing: border-box; }

.container {
  height: 100%;
  max-width: 960px;
  margin: 0 auto; }
  .container_greeting {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .container_we {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; }
  .container_form {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    justify-content: center; }
  .container_footer {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px; }

.greeting {
  height: 100vh;
  min-height: 650px;
  background: url("../images/bg/texture.png") repeat, url("../images/bg/video-bg.jpg") no-repeat center/cover;
  position: relative; }

.header {
  width: 1100px;
  padding-top: 10px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .header__logo {
    /*margin-right: auto;*/ }

.logo {
  width: 92px;
  height: 69px; }
  .logo__img {
    width: 100%;
    height: 100%; }

.nav {
  padding: 0 15px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center; }
  .nav-list {
    list-style: none;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav__item:not(:last-child):after {
    display: inline-block;
    padding: 0 15px;
    content: '•';
    font-size: 13px;
    border-radius: 50%;
    color: #ffffff; }
  .nav__item:last-child {
    padding-right: 15px; }
  .nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: ubuntumedium, sans-serif;
    color: #ffffff;
    font-size: 13px; }
    .nav__link:hover {
      text-decoration: underline; }

.greeting-content {
  height: 100%;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center; }
  .greeting-content__column {
    flex: 1 0 50%; }
  .greeting-content__burger {
    background: url("../images/content/burger.png") no-repeat center/contain;
    padding: 0 0 80px 30px; }
  .greeting-content__img {
    width: 450px;
    height: 335px;
    margin: 0 50px 0 0; }
  .greeting-content__info {
    height: 100%;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .greeting-content__title {
    font-family: Gagalin, sans-serif;
    font-size: 72px;
    color: #f9b43b;
    margin: 70px 0 20px 0; }
  .greeting-content__text {
    color: #ffffff;
    font-family: lifehackmedium, sans-serif;
    font-size: 65px;
    margin: 0; }

.scroll {
  width: 30px;
  height: 15px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%); }
  .scroll__img {
    width: 100%;
    height: 100%; }

.we {
  width: 100%;
  height: 100vh;
  min-height: 650px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background: url("../images/bg/bg-we.jpg") no-repeat center/cover; }

.title-we {
  font-family: Gagalin, sans-serif;
  font-size: 72px;
  color: #2f3234;
  margin: 0 0 90px 0; }

.we-list {
  list-style: none;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .we-list__item {
    flex: 1;
    padding: 0 20px;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .we-list__image {
    width: 90px;
    height: 90px; }
  .we-list__picture {
    width: 100%;
    height: 100%; }
  .we-list__title {
    text-align: center;
    font-family: lifehackmedium, sans-serif;
    font-size: 24.1px;
    color: #2f3234; }
  .we-list__text {
    text-align: center;
    font-family: "Ubuntu Light", sans-serif;
    font-size: 14.03px;
    color: #2f3234;
    line-height: 24.05px; }

.command {
  height: 100vh;
  min-height: 650px;
  background: url("../images/bg/command-bg.jpg") no-repeat center top/cover;
  position: relative; }
  .command__column {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background-color: rgba(47, 50, 52, 0.9); }
  .command__content {
    max-width: 380px;
    padding: 90px 0 0 80px; }
  .command__title {
    margin: 0 0 90px 0;
    font-family: Gagalin, sans-serif;
    font-size: 72px;
    color: #f9b43b; }

.accordeon-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .accordeon-list__item {
    margin-bottom: 25px; }
  .accordeon-list__name {
    display: inline-block;
    margin-bottom: 15px;
    color: #ffffff;
    font-family: Gagalin, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none; }
    .accordeon-list__name:before {
      display: inline-block;
      margin-right: 10px;
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #f9b43b;
      transform: translateY(-50%); }
  .accordeon-list__content {
    font-size: 0;
    height: 0;
    overflow: hidden; }
  .accordeon-list__picture {
    display: inline-block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 50%;
    vertical-align: top; }
  .accordeon-list__image {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .accordeon-list__description {
    display: inline-block;
    vertical-align: top;
    width: 280px;
    padding: 0 30px 0 20px;
    box-sizing: border-box; }
  .accordeon-list__proffesion {
    margin-top: 0;
    font-family: ubuntubold, sans-serif;
    font-size: 14px;
    color: #ffffff; }
  .accordeon-list__text {
    font-family: "Ubuntu Light", sans-serif;
    font-size: 14px;
    color: #ffffff; }

.accordeon-list__item_active .accordeon-list__name {
  color: #f9b43b; }
  .accordeon-list__item_active .accordeon-list__name:before {
    transform: rotate(180deg) translateY(50%); }

.accordeon-list__item_active .accordeon-list__content {
  height: 100%; }

.menu {
  height: 100vh;
  min-height: 650px;
  position: relative;
  background: url("../images/bg/menu-bg.jpg") no-repeat center/cover; }
  .menu__title {
    position: absolute;
    top: 100px;
    left: 95px;
    margin: 0;
    font-family: Gagalin, sans-serif;
    font-size: 72px;
    color: #ffffff; }

.menu-accord {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; }
  .menu-accord__item {
    height: 100%;
    display: flex; }
  .menu-accord__link {
    width: 80px;
    height: 100%;
    display: block;
    position: relative;
    background: no-repeat center/cover; }
    .menu-accord__link:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(20, 20, 20, 0.7); }
  .menu-accord__title {
    display: inline-block;
    position: absolute;
    top: 50%;
    font-size: 40px;
    white-space: nowrap;
    font-family: Gagalin, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    transform: translateX(-35%) rotate(-90deg); }
  .menu-accord__description {
    width: 0;
    overflow: hidden;
    background-color: rgba(47, 50, 52, 0.8);
    color: #ffffff; }
    .menu-accord__description p {
      font-family: "Ubuntu Light", sans-serif;
      font-size: 14px;
      line-height: 24px; }
  .menu-accord__item_active .menu-accord__description {
    width: 540px;
    padding: 80px 35px; }

.reviews {
  height: 100vh;
  min-height: 650px; }
  .reviews__item {
    background: no-repeat center/cover;
    flex: 1 0 25%;
    position: relative; }
    .reviews__item:hover .reviews__description {
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0; }
  .reviews__description {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 7.2%;
    height: 0;
    overflow: hidden;
    background-color: rgba(20, 20, 20, 0.7);
    box-sizing: border-box;
    transition: height .3s ease-in; }
  .reviews__name {
    font-family: Gagalin, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 15%; }
  .reviews__text {
    font-family: "Ubuntu Light",sans-serif;
    font-size: 14px;
    color: #ffffff;
    line-height: 24px; }

.reviews-list {
  list-style: none;
  height: 100%;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0; }

.reviews-button {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: "ubuntumedium",sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #2f3234;
  padding: 13px 28px; }
  .reviews-button:hover {
    background-color: #1f2122; }

.payment {
  height: 100vh;
  min-height: 650px;
  background: url("../images/bg/form-bg.jpg") no-repeat center/cover; }
  .payment__title {
    font-family: Gagalin, sans-serif;
    font-size: 72px;
    color: #f9b43b;
    text-align: center; }

.form__container {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__column {
  flex: 1 0 50%;
  margin-right: 20px; }
  .form__column:last-child {
    margin-right: 0; }

.form__row {
  display: flex;
  margin-bottom: 20px; }

.form__block {
  flex: 1;
  margin-right: 20px; }
  .form__block:last-child {
    margin-right: 0; }

.form__label {
  color: #ffffff;
  font-family: "Ubuntu Light", sans-serif;
  font-size: 14px; }

.form__input {
  height: 35px;
  width: 100%;
  padding: 0 5px;
  border-radius: 5px;
  outline: none;
  border: none; }

.form__textarea {
  width: 100%;
  height: 106px;
  padding: 5px;
  resize: none;
  border-radius: 5px;
  outline: none;
  border: none; }

.form__input_radio {
  position: absolute;
  left: -9999px; }

.form__label_type_radio {
  position: relative;
  cursor: pointer; }
  .form__label_type_radio:before {
    content: '';
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    display: inline-block;
    background-color: #ffffff;
    margin-right: 10px; }
  .form__label_type_radio:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #e35028;
    top: 9px;
    left: 4px;
    transform: translateY(-50%);
    opacity: 0;
    transition: .3s linear; }

.form__input_radio:checked + .form__label_type_radio:after {
  opacity: 1; }

.form__input_checkbox {
  position: absolute;
  left: -9999px; }

.form__label_type_checkbox {
  position: relative;
  cursor: pointer; }
  .form__label_type_checkbox:before {
    content: '';
    vertical-align: middle;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: #ffffff; }
  .form__label_type_checkbox:after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 8px;
    left: 0;
    transform: translateY(-50%);
    background: url("../images/icons/icons8.svg") no-repeat center/cover;
    opacity: 0;
    transition: .3s linear; }

.form__input_checkbox:checked + .form__label_type_checkbox:after {
  opacity: 1; }

.form__block_btn {
  flex: 0; }

.form__reset {
  outline: none;
  border: none;
  color: #ffffff;
  font-family: "Ubuntu Light", sans-serif;
  font-size: 14px;
  background-color: transparent;
  line-height: 35px;
  cursor: pointer; }
  .form__reset:hover {
    font-weight: bold; }

.section-contacts {
  height: 100vh;
  min-height: 650px;
  position: relative; }
  .section-contacts__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }

.footer {
  padding: 18px 0;
  background: url("../images/bg/footer-bg.jpg") no-repeat center/cover; }
  .footer__column {
    flex: 1 0 50%;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.order-button {
  padding: 0 15px;
  background-color: #e45028;
  border-radius: 5px;
  font-family: ubuntumedium, sans-serif;
  font-size: 13px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 35px;
  transition: .3s linear; }
  .order-button:hover {
    background: #c1401e; }
  .order-button_form {
    outline: none;
    border: none;
    cursor: pointer; }

.pagination {
  position: fixed;
  right: 6.3%;
  top: 90px;
  z-index: 10; }
  .pagination-list {
    list-style: none; }
    .pagination-list__item {
      margin-bottom: 5px; }
    .pagination-list__link {
      box-sizing: border-box;
      display: block;
      position: relative;
      width: 16px;
      height: 16px;
      border: 1px solid transparent;
      border-radius: 50%; }
      .pagination-list__link:hover, .pagination-list__link_active {
        border-color: #ffffff; }
      .pagination-list__link:before {
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        width: 6px;
        height: 6px;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #ffffff; }

.contacts {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center; }
  .contacts__address {
    color: #ffffff;
    font-family: "Ubuntu Light", sans-serif;
    font-size: 14px;
    line-height: 24px; }
  .contacts__phone {
    color: #e45028;
    font-family: ubuntubold, sans-serif;
    font-size: 14px;
    text-decoration: none;
    line-height: 24px;
    transition: .1s linear; }
    .contacts__phone:hover {
      color: #ffffff; }
      .contacts__phone:hover .contacts__icon {
        fill: #ffffff; }
  .contacts__icon {
    display: inline-block;
    margin-right: 8px;
    width: 12px;
    height: 12px;
    fill: #e45028; }

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  flex: 1;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .social-list__item {
    margin-right: 20px; }
    .social-list__item:last-child {
      margin-right: 0; }
  .social-list__icon {
    width: 20px;
    height: 20px;
    fill: #5a5a5a;
    transition: .3s linear; }
    .social-list__icon:hover {
      fill: #ffffff; }
