.reviews-button {

  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  @include ubuntu(medium);
  font-size: rem(13px);
  text-transform: uppercase;
  border-radius: rem(5px);
  background-color: $black;
  padding: rem(13px) rem(28px);
  &:hover {
    background-color: #1f2122;
  }
}