.accordeon-list {
  &__item {
    margin-bottom: rem(25px);
    @include tablets {
      text-align: center;
    }
  }
  &__name {
    display: inline-block;
    margin-bottom: rem(15px);
    color: #ffffff;
    @include gagalin();
    font-size: rem(14px);
    text-transform: uppercase;
    text-decoration: none;
    @include tablets {
      font-size: rem(25px);
    }
    &:before {
      display: inline-block;
      margin-right: rem(10px);
      content: '';
      width: 0;
      height: 0;
      border-left: rem(5px) solid transparent;
      border-right: rem(5px) solid transparent;
      border-top: rem(5px) solid $yellow;
      transform: translateY(-50%);
      transition: transform .3s ease-out;
    }
  }
  &__content {
    font-size: 0;
    overflow: hidden;
    display: flex;
    height: 0;
    transition: height .3s ease-out;
    @include tablets {
      flex-direction: column;
      align-items: center;
    }
  }
  &__picture {
    flex: 0 0 rem(100px);
    height: rem(100px);
    overflow: hidden;
    @include tablets {
      width: rem(100px);

    }
  }
  &__image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  &__description {
    flex: 0 0 rem(260px);
    padding: 0 rem(30px) 0 rem(20px);
    @include tablets {
      text-align: center;
      flex: 1;
      padding: 0;
      width: rem(320px);
    }

  }
  &__proffesion {
    padding: 0 0 rem(12px) 0;
    @include ubuntu(bold);
    font-size: rem(14px);
    color: #ffffff;
    @include  tablets {
      padding-top: rem(20px);
    }
  }
  &__text {
    @include ubuntu(light);
    font-size: rem(14px);
    line-height: rem(24px);
    color: #ffffff;
  }
}

.accordeon-list__item_active {
  .accordeon-list__name {
    color: $yellow;
    &:before {
      transform: rotate(-180deg) translateY(100%);
    }
  }
  .accordeon-list__content {
  }
}