.contacts {
  @include flexbox;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  &__address {
    color: #ffffff;
    font-family: "Ubuntu Light", sans-serif;
    font-size: 14px;
    line-height: 24px;
  }
  &__phone {
    color: #e45028;
    font-family: ubuntubold, sans-serif;
    font-size: 14px;
    text-decoration: none;
    line-height: 24px;
    transition: .1s linear;
    &:hover {
      color: #ffffff;
      & .contacts__icon {
        fill: #ffffff;
      }
    }
  }
  &__icon {
    display: inline-block;
    margin-right: 8px;
    width: 12px;
    height: 12px;
    fill: #e45028;
  }
}