.order-button {
  padding: 0 15px;
  background-color: #e45028;
  border-radius: 5px;
  font-family: ubuntumedium, sans-serif;
  font-size: 13px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 35px;
  transition: .3s linear;

  &:hover {
    background: #c1401e;
  }
  &_form {
    outline: none;
    border: none;
    cursor: pointer;
  }
}