
  .onepage-pagination {
    position: fixed !important;
    right: 3.3% !important;
    top: rem(90px) !important;
    z-index: 10 !important;
    padding: 0;
    li {
      margin-bottom: rem(5px) !important;
    }
    a {
      box-sizing: border-box !important;
      display: block !important;
      position: relative !important;
      width: rem(16px) !important;
      height: rem(16px) !important;
      border: rem(1px) solid transparent !important;
      border-radius: 50% !important;
      padding: 0 !important;
      &:hover, &.active {
        border: 1px solid #ffffff !important;
      }
      &.active:before {
        margin-top: 0 !important;
      }
      &:before {
        border: none !important;
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        content: "" !important;
        width: rem(6px) !important;
        height: rem(6px) !important;
        transform: translate(-50%, -50%) !important;
        border-radius: 50% !important;
        background-color: #ffffff !important;
      }
    }
  }