.scroll {
  width: rem(30px);
  height: rem(15px);
  @include flexbox;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: rem(50px);
  transform: translateX(-50%);
  &__img {
    width: 100%;
    height: 100%;
  }
}