.scroll {
  position: fixed;
  left: 50%;
  bottom: 40px;
  transform: translate(-50%, 0);
  width: 29px;
  height:14px;
  background: url("../images/icons/arrow-scroll.svg") center no-repeat;
  cursor: pointer;
}