.scroll {
  width: 30px;
  height: 15px;
  @include flexbox;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  &__img {
    width: 100%;
    height: 100%;
  }
}